* {
    margin: 0;
    padding: 0;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border: 0;
    box-sizing: border-box;
    
  }
   
 body{

background: linear-gradient(to bottom, rgb(129, 197, 239), white);
color: black;
height: 100vh; 
text-align: center;
transition: background 0.2s linear;

 }
 
body.dark{
   background: linear-gradient(to bottom, rgb(2, 46, 73), rgb(42, 70, 97));
   color: #fff700;
   text-shadow:
   
      0 0 10px #fff,
      0 0 21px #fff,
      0 0 92px  #fff832,
      0 0 102px  #fff832,
      0 0 151px  #fff832;

}

.checkbox {
   opacity: 0;
   position: absolute;
   
    }
 
 .label {
   background-color: rgb(134, 123, 123);
   border-radius: 50px;
   cursor: pointer;
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 5px;
   position: relative;
   height: 28px;
   width: 52px;
   transform: scale(1.5);
   margin-left: 800px;
   margin-top: 50px;
   border: 1px solid black;

     }
 
 
 .label .ball {
   background-color: #fff;
   border-radius: 50%;
   position: absolute;
   top: 2px;
   left: 2px;
   height: 22px;
   width: 22px;
   transform: translateX(0px);
   transition: transform 0.2s linear;
 }
 
 .checkbox:checked + .label .ball {
   transform: translateX(24px);
 }
 
 .fa-moon {
   color: #f1c40f;
 }
 
 .fa-sun {
   color: #f39c12;
 }


.calc{


position: absolute;
background-color: rgba(211, 0, 0, 0.7);
top: 50%;
left: 50%;
transform: translate(-50%,-30%);
border-radius: 15px;
padding: 15px;
border: 3px solid black;
}

.calc h1{
color: rgb(0, 0, 0);

}

#calcgui{
   
   color: rgb(255, 255, 255);
}

.butao{  background-color: rgb(0, 0, 0);

width: 50px;
height: 50px;
font-size: 25px;
cursor: pointer;
border-radius: 6px;
color: rgb(255, 255, 255);
margin: 3px;

}

.butao:hover{ background-color: rgb(36, 29, 29);}

#resultado{width: 207px;
   height: 43px;
   margin: 5px;
   font-size: 25px;
   color: black;
   text-align: right;
   padding: 5px;
   background-color: white;
   border: 2px solid black;

}
